<!DOCTYPE html>
<html lang="en" ng-app="ViewRegApp">
<head>
    <meta charset="UTF-8">
    <title>FSF Landing Page</title>
    <!--bower components-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <!--source includes-->
    <link rel="stylesheet" href="index.css">
    <script src="getreg.js"></script>
    <script src="reg.js"></script>
</head>
<body ng-controller = "ViewRegCtrl as viewregCtrl">
    <div class="jumbotron jumbo-container"> 
        <div class="my-container">
            <center>
            <h1>Registration Details</h1>
            </center>
        </div>
    </div>
	<div class="container">

	    <h2>New Registrations</h2>

		<div class="row">
			<div class="col-md-offset-8 col-md-4">
			    <button class="btn btn-warning" type="button" ng-click="viewregCtrl.getReg()">
			    <!--<i class="fa fa-refresh fa-spin"></i>-->
			        Refresh
			    </button>
		    </div>
		</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<td><code>email</code></td>
						<td><code>password</code></td>
						<td><code>name</code></td>
						<td><code>gender</code></td>
                        <td><code>d.o.b.</code></td>
                        <td><code>address</code></td>
                        <td><code>country</code></td>
                        <td><code>contact</code></td>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="o in viewregCtrl.reg">
						<td>{{ o.email }}</td>
						<td>{{ o.password }}</td>
						<td>{{ o.name }}</td>
						<td>{{ o.gender }}</td>
						<td>{{ o.date}}</td>
						<td>{{ o.address }}</td>
						<td>{{ o.country }}</td>
						<td>{{ o.contact }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</body>
</html>