@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

.jumbo-container{
    /*background-image: url("tccclubhouse.jpg");*/
    background-size: cover;
    color: white;
    font-size: 2em;
    height: 20vh;
}

.my-container{
	font-family: 'Istok Web', sans-serif;
	background-color: floralwhite;
	color:darkolivegreen;
	/*height:10vh;*/
	/*width: 50vh;*/
	padding: 12px;
	margin: auto;
	margin-top:2vh;
}

.my-logo{
	
	display: block;
    min-width: 200px; /* specifying the width is sufficient */
    margin: auto;
    border-radius: 50%;
    /*border: 1px solid #aaa;*/
    /*margin-top: -100px;*/

}

.my-thumbnail{
	display: block;
    max-width: 400px; /* specifying the width is sufficient */
    max-height:400px
    margin: auto;
}
