<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
<head>
    <meta charset="UTF-8">
    <title>FSF Landing Page</title>
    <!--bower components-->
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
    <script src="/libs/jquery/dist/jquery.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/libs/angular/angular.js"></script>
    <!--source includes-->
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <script src="reg.js"></script>
</head>
<body ng-controller = "RegCtrl as regCtrl">
    <div class="jumbotron jumbo-container"> 
        <div class="my-container">
            <center>
            <h1>Registration Form</h1>
            </center>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-2
                        col-sm-2
                        col-md-2
                        col-lg-2">
            </div>
            <div class="col-xs-8
                        col-sm-8
                        col-md-8
                        col-lg-8">
                <div>
                    <h4 align="center"> The form can only be submitted after all fields have been filled in. </h4>
                </div>
                <!--<div class="alert alert-warning alert-dismissible" role="alert" ng-model="regCtrl.statusMsg">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="regCtrl.successMsg">&times;</span></button>
                    <strong>{{ regCtrl.statusMsg }}</strong> 
                </div>                -->
                <div>
                    <p ng-show="regCtrl.successMsg" class="alert alert-success alert-dismissable" role="alert" ng-model="regCtrl.statusMsg">{{ regCtrl.statusMsg }}</p>
                <div>
                <div>
                <form name="regForm" ng-submit="regCtrl.regUser()" novalidate>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="please enter your email address" required ng-model="regCtrl.email" aria-describedby="helpBlock">
                        <span id="helpBlock" class="help-block" ng-show="regForm.email.$invalid">
                           Must be in valid format e.g. abc@gmail.com
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="please enter password" required ng-model="regCtrl.password" aria-describedby="helpBlock">
                        <span id="helpBlock" class="help-block" ng-show="regForm.password.$invalid">
                            Min 8 chars, both upper case and lower case letters, at least one number and at least one @, #, $
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="please enter name" required ng-model="regCtrl.name">
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="gender" id="gender" value="male" required ng-model="regCtrl.gender">
                                <code>Male </code>
                            </label>
                            <label>
                                <input type="radio" name="gender" id="gender" value="female" required ng-model="regCtrl.gender">
                                <code>Female </code>
                            </label>
                        </div>  
                    </div>
                    <!--<div class="form-group">
                        <label for="date">Date of birth:</label>
                        <input type="date" name="date" id="date" class="form-control" required ng-model="regCtrl.date">
                    </div>
                    <div class="form-group">
                        <label for="date">Date of birth:</label>
                        <select name="bday" placeholder="" id="form-input" ng-model="regCtrl.bday">
                            <option value="" selected disabled>Day:</option>
                            <option  value="1">01</option>
                            <option  value="2">02</option>
                            <option  value="3">03</option>
                            <option  value="4">04</option>
                            <option  value="5">05</option>
                        </select>
                        <select name="bmonth" placeholder="" id="form-input" ng-model="regCtrl.bmonth">
                            <option value="" selected disabled>Month:</option>
                            <option  value="1">Jan</option>
                            <option  value="2">Feb</option>
                            <option  value="3">Mar</option>
                            <option  value="4">Apr</option>
                            <option  value="5">May</option>
                        </select>
                        <select name="byear" placeholder="" id="form-input" ng-model="regCtrl.byear">
                            <option value="" selected disabled>Year:</option>
                            <option  value="1998">1998</option>
                            <option  value="1997">1997</option>
                            <option  value="1996">1996</option>
                            <option  value="1995">1995</option>
                            <option  value="1994">1994</option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea name="address" id="address" cols="30" rows="5" class="form-control" required ng-model="regCtrl.address"></textarea>
                    </div>
                    <div class="form-group">
                        <select name="country" placeholder="country" id="form-input" ng-model="regCtrl.country">
                            <option value="" selected disabled>Country:</option>
                            <option ng-repeat = "o in regCtrl.countryList" value="{{ o.ctyname }}">{{ o.ctyname }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact number</label>
                        <input type="contact" name="contact" id="contact" class="form-control" placeholder="Please enter your contact number" required ng-model="regCtrl.contact" aria-describedby="helpBlock">
                        <span id="helpBlock" class="help-block" ng-show="regForm.contact.$invalid">
                            Only digits, +, -, space and round brackets are allowed                        
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="showme=false" ng-disabled="regForm.$invalid">submit</button>
                    </div>
                </form>
                </div>
            </div> 
            <div class="col-xs-2
                        col-sm-2
                        col-md-2
                        col-lg-2">
            </div>
        </div>       
    </div>

</body>
</html>